 <style>
 .outer-order{
    margin: 15px;
    border:1px solid grey;
    padding: 15px;
    background: white;
}
.content{
 margin-top: 0px;
 padding: 20px 15px;

}
</style>


<div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Orders</a>
            </div>

        </div>
    </nav>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
             <div class="col-md-8">
                <div class="outer-order">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="text-center text-bold">Order No</div> 
                            <div class="text-center">1</div>


                        </div> 
                        <div class="col-md-6">
                         <div class="text-center text-bold">List of Orders</div> 
                         <div class="text-center">33</div>
                     </div>
                     <div class="col-md-2">
                        <div class="text-center text-bold">Status</div> 
                       
                        <select>
                            <option value="volvo">Registered</option>
                          <option value="saab">Processing</option>
                          <option value="mercedes">Prepared</option>
                          <option value="audi">OnTable</option>
                      </select>
                  </div>

                  <div class="col-md-2">
                      <div class="text-center text-bold">Table no</div> 
                      <div class="text-center">33</div>
                  </div>

              </div>
          </div>
      </div> 
      <div class="col-md-8">
                <div class="outer-order">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="text-center text-bold">Order No</div> 
                            <div class="text-center">1</div>


                        </div> 
                        <div class="col-md-6">
                         <div class="text-center text-bold">List of Orders</div> 
                         <div class="text-center">33</div>
                     </div>
                     <div class="col-md-2">
                        <div class="text-center text-bold">Status</div> 
                       
                        <select>
                            <option value="volvo">Registered</option>
                          <option value="saab">Processing</option>
                          <option value="mercedes">Prepared</option>
                          <option value="audi">OnTable</option>
                      </select>
                  </div>

                  <div class="col-md-2">
                      <div class="text-center text-bold">Table no</div> 
                      <div class="text-center">33</div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
</div>


<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        Company
                    </a>
                </li>
                <li>
                    <a href="#">
                        Portfolio
                    </a>
                </li>
                <li>
                    <a href="#">
                     Blog
                 </a>
             </li>
         </ul>
     </nav>
     <p class="copyright pull-right">
        &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
    </p>
</div>
</footer>

</div>